.section_color-theme_beige .separator__line {
    background-color: #6fa491;
}
.section_color-theme_grey .separator__line {
    background-color: #e9bdac;
}
.section_color-theme_green .separator__line {
    background-color: #daccc0;
}
.section__separator .separator__line {
    height: 2px;
    width: 80%;
    margin: 0 auto;
    float: none;
}