.top-pannel {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f7da7e;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
    z-index: 100;
    
    margin-left: 0px;
    -webkit-transition: margin-left 0.25s ease;
    -moz-transition: margin-left 025s ease;
    -ms-transition: margin-left 0.25s ease;
    -o-transition: margin-left 0.25s ease;
    transition: margin-left 0.25s ease;
}
}
