/**
 * Elements default styles reset
 */



/**
 * Global elements styles
 */
.clr {
	clear:both;
}



/**
 * Template construction styles
 */
/* Sections */
section {
	width:100%;
	padding-top:1.6666em;
	padding-bottom:1.6666em;
}
.section-wrapper {
	margin:0 auto 3.333em auto;
}

/* Collumns */
.col {
	margin-top:-0.8333em;
}
.collumns-2 .col {
	width:50%;
	float:left;
}
.collumns-3 .col {
	width:33.3333%;
	float:left;
}
.collumns-4 .col {
	width:25%;
	float:left;
}
/* ================ */


/**
 * Typographics
 */
html {
	font-size:18px;
	font-family: 'Open Sans', sans-serif;
}
body {
	font-size:100%;
	line-height:1.6666em;
	text-align:center;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'PT Serif', 'Times New Roman';
	font-weight: normal;
}
h2 {
	margin-top:1.25em;
	margin-bottom:0.9375em;
	padding-left:0.8333em;
	padding-right:0.8333em;
	font-size:2.6666em;
	line-height:1.25em;
}
h4 {
	margin-top:1.5em;
	margin-bottom:1em;
	padding-left:1.3333em;
	padding-right:1.3333em;
	font-size:1.6666em;
	line-height:1.5em;
}
p {
	margin: 0.8333em 0 1.6666em 0;
	padding-left:2.2222em;
	padding-right:2.2222em;
}
cite .marker {
	color:#8d2b2e;
}
/* ================ */



/**
 * Forms
 */
form {
	margin: 1em 0 1.6666em 0;
	padding-left:2.2222em;
	padding-right:2.2222em;
}
button {
	font-size:inherit;
	padding:0 1em;
	line-height:2.4444em;
	margin-bottom:1.6666em;
}
/* ================ */



/**
 * Separators
 */
.headerSeparator {
	margin:-1.6666em auto 2.5em auto;
	height:2.5em;
}
.headerSeparator-wrapper, .headerSeparator-content {
	float:left;
	position:relative;
}
.headerSeparator-wrapper {
	left:50%;
}
.headerSeparator-content {
	left:-50%;
}
.headerSeparator hr, .headerSeparator .icon {
	float:left;
}
.headerSeparator hr {
	margin:1.1666em 0 1.2777em;
	width:3.888em;
	height:1px;
	border:0;
}
.headerSeparator .icon {
	margin: 10px 13px 11px 13px;
}
/* ================ */



/**
 * Icons
 */
.-xs {
	width:16px;
	height:16px;
}
.-s {
	width:24px;
	height:24px;
}
.-m {
	width:32px;
	height:32px;
}
.-l {
	width:48px;
	height:48px;
}
.-xl {
	width:64px;
	height:64px;
}
.-2xl {
	width:128px;
	height:128px;
}
.-3xl {
	width:256px;
	height:256px;
}
/* ================ */



/**
 * Individual styles
 */

/* Sections "About" & "Send Review" */
#sendReview,
#about {
	background-color: #625c5a;
	color: #f8f8f9;
}
#sendReview .headerSeparator hr,
#about .headerSeparator hr {
	background-color:#e9bdac;
}
#sendReview .headerSeparator .icon,
#about .headerSeparator .icon {
	background-color:#e9bdac;
}

/* Section "About" */
#about .section-content {
	text-align:left;
}

/* Sections "Prices" & "Reviews" */
#prices,
#reviews {
	background-color:#daccc0;
	color:#625c5a;
}
#prices .headerSeparator hr,
#reviews .headerSeparator hr {
	background-color:#6fa491;
}
#prices .headerSeparator .icon,
#reviews .headerSeparator .icon {
	background-color:#6fa491;
}

/* Sections "Prices" */
#prices .priceLabel {
	max-width:440px;
	padding:0.8333em 1.1111em;
	margin:0.8333em auto 1.6666em;
}
#prices .priceLabel-wrapper {
	padding:8px;
	box-shadow:0 5px 20px #cbbeb3;
	border-radius:5px;
	background-color:#f2eee9;
}
#prices .priceLabel-content {
	height:494px; /* Изменить после */
	border:2px solid #daccc0;
}
#prices .priceLabel-content h4 {
	margin-top:1.2333em;
}
#prices .priceLabel-content .price {
	margin-top:1.6666em;
	margin-bottom:2.5555em;
}
#prices .priceLabel-content .price span {
	display:block;
}
#prices .priceLabel-content .cost {
	font-size:4em;
	line-height:1.25em;
}
/* ================ */



/**
 * Redefinition of styles depending on the device
 */
 
/* For Desktop users (If window width >= 960 px) */
@media screen and (min-width:960px) {
	.section-wrapper {
		width:960px;
	}
}

/* For Tablet users (If window width < 768 px) */
@media screen and (min-width:768px) and (max-width: 960px) {
	.section-wrapper {
		width:auto;
	}
}

/* For Smartphone users (If window width < 768 px) */
@media screen and (max-width:768px) {
	.section-wrapper {
		width:auto;
	}
	.collumns-2 .col,
	.collumns-3 .col,
	.collumns-4 .col {
		width:100%;
	}
	body {
		font-size:0.8888em;
	}
	h2 {
		font-size:2.25em;
		padding-left:0.5666em;
		padding-right:0.5666em;
	}
	h4 {
		padding-left:0.9em;
		padding-right:0.9em;
	}
	p {
		padding-left:1.5em;
		padding-right:1.5em;
	}
} 
/* ================ */