/**
 * Elements default styles reset
 */

/* ================ */



/**
 * Global elements styles
 */
.logo,
.icon,
.section-content ul li,
.radioItem a,
.arrowLeft a,
.arrowRight a {
	background-image:url(../img/sprite_min.svg);
	background-repeat:no-repeat;
}
.icon {
	display:block;
}
.clr {
	clear:both;
}
/* ================ */


/**
 * Template construction styles
 */
body {
	overflow-x:hidden;
	background-color:#545456;
}
#page-wrapper {
	width:100%;
	overflow-x:hidden;
	box-shadow:0 0 30px rgba(0, 0, 0, 0.5);
	position:relative;
	z-index:5;
}
#page-wrapper,
#topPannel {
	-webkit-transition:0.25s;
    -moz-transition:0.25s;
    -ms-transition:0.25s;
    -o-transition:0.25s;
	transition:0.25s;
}
#page-wrapper.menu-enabled,
#topPannel.menu-enabled {
    -webkit-transform: translateX(240px); /** Chrome & Safari **/
    -moz-transform: translateX(240px); /** Firefox **/
    -ms-transform: translateX(240px); /* Для IE */
    -o-transform: translateX(240px); /** Opera **/
	transform:translateX(240px);
}

/* Sections */
section {
	width:100%;
	padding-top:1.6666em;
	padding-bottom:1.6666em;
}
.section-wrapper {
	margin-bottom:3.333em;
}
.section-content {
	position:relative;
}
header,
.content-wrapper {
	margin-left:auto;
	margin-right:auto;
}

/* Collumns */
.collumns .col {
	margin-top:-0.8333em;
	float:left;
}
.collumns.-two .col {
	width:50%;
}
.collumns.-three .col {
	width:33.3333%;
}
.collumns.-four .col {
	width:25%;
}
/* ================ */


/**
 * Typographics
 */
html {
	font-size:18px;
	font-family: 'Open Sans', sans-serif;
}
body {
	font-size:100%;
	line-height:1.6666em;
	text-align:center;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'PT Serif', 'Times New Roman';
	font-weight: normal;
}
h2 {
	margin-top:1.25em;
	margin-bottom:0.9375em;
	padding-left:0.8333em;
	padding-right:0.8333em;
	font-size:2.6666em;
	line-height:1.25em;
}
h4 {
	margin-top:1.5em;
	margin-bottom:1em;
	padding-left:1.3333em;
	padding-right:1.3333em;
	font-size:1.6666em;
	line-height:1.5em;
}
h4 a {
	text-decoration:none;
	color:inherit;
}
h4 a:hover {
	text-decoration:underline;
}
p {
	margin: 0.8333em 0 1.6666em 0;
	padding-left:2.2222em;
	padding-right:2.2222em;
}
p a {
	font-style:italic;
	color:#3b876f;
}
p a:hover {
	text-decoration:none;
}
.footnote {
	color:#8d2b2e;
}
ul {
	margin:0;
	padding:0;
	list-style-type:none;
	text-align:left;
}
.section-content ul {
	margin:0.8333em 0 1.6666em;
	padding-left:2.2222em;
}
.section-content ul li {
	padding-left:1.1111em;
	margin:0.8333em 0;
	background-position:-570px -262px;
}
/* ================ */



/**
 * Forms
 */
form {
	margin: 0.8333em auto 0;
	padding:0.8333em 1.1111em 1.6666em;
}
form .form-content {
	padding:0.8333em 1.1111em
}
form .formElement {
	min-height:3.6666em;
	padding-top:0.6666em;
	padding-bottom:0.6666em;
}
form .formElement .element-field {
	padding-left:1.1111em;
	padding-right:1.1111em;
	border-radius:2px;
	border:1px solid #d9d5d3;
}
input,
textarea,
button {	
	border:0;
	display:block;
}
input,
textarea {
	width:100%;
	margin-left:-1.1111em;
	margin-right:-1.1111em;
	padding:0.9444em 1.1111em;
	line-height:1.6666em;
}
input {
	height:1.6666em;
	overflow-y:hidden;
}
textarea {
	min-width:100%;
	max-width:100%;
	min-height:1.6666em;
	overflow:hidden;
}

/* Default Button Style */
.element-button.centered .button-wrapper,
.element-button.centered button {
	float:left;
	position:relative;
}
.button-wrapper {
	padding-top:0.3333em;
	padding-bottom:0.3333em;	
}
.element-button.centered .button-wrapper {
	left:50%;
}
.element-button.centered button {
	left:-50%;
}
button {
	border-width:2px;
	border-style:solid;
	border-radius:4px;
	padding-left:0;
	padding-right:1em;
	background:none;
}
button .icon,
button .title {
	margin-left:1em;
	float:left;
}
button .icon.-s {
	margin-top:0.5555em;
	margin-bottom:0.5555em;
}
button .title {
	margin-top:0.3888em;
	margin-bottom:0.3888em;
}

/* Rounded Button Style */
button.rounded {
	border-radius:32px;
	margin-top:0.0555em;
	margin-bottom:0.0555em;
}
button.rounded .icon.-s {
	margin-top:1em;
	margin-bottom:1em;
}
button.rounded .title {
	margin-top:0.8333em;
	margin-bottom:0.8333em;
}
/* ================ */



/**
 * Forms
 */
/* Radio Buttons */
.radioButtons {
	margin:0.8333em auto 1.6666em;
	height:1.6666em;
	overflow:hidden;
}
.radioButtons-wrapper,
.radioButtons-content {
	float:left;
	position:relative;
}
.radioButtons-wrapper {
	left:50%;
}
.radioButtons-content {
	left:-50%;
}
.radioButtons ul,
.radioButtons .radioItem {
	float:left;
	padding:0;
	margin:0;
}
.radioButtons .radioItem {
	margin:0.3888em 0.6666em;
	background:none;
}
.radioItem a {
	display:block;
	width:inherit;
	height:inherit;
	position:relative;	
}

/* Arrows */

/* ================ */



/**
 * Separators
 */
.separator {
	margin:-0.8333em auto 2.5em;
	height:2.5em;
	overflow:hidden;
}
.separator-wrapper,
.separator-content {
	float:left;
	position:relative;
}
.separator-wrapper {
	left:50%;
}
.separator-content {
	left:-50%;
}
.separator hr,
.separator .icon {
	float:left;
}
.sectionSeparator hr,
.separator hr {
    border:0;
}
.separator hr {
	margin:1.1666em 0 1.2777em;
	width:3.8888em;
	height:1px;
}
.separator .icon {
	margin: 10px 13px 11px 13px;
}
.sectionSeparator {
    position:absolute;
    width:100%;
    margin-top:-1.6666em;
}
.sectionSeparator,
.sectionSeparator hr {
    height:2px;
}
.sectionSeparator hr {
    width:80%;
    margin:0 auto;
    background-color:#6FA491;
}
/* ================ */



/**
 * Icons
 */
.-xs {
	width:16px;
	height:16px;
}
.-s {
	width:24px;
	height:24px;
}
.-m {
	width:32px;
	height:32px;
}
.-l {
	width:48px;
	height:48px;
}
.-xl {
	width:64px;
	height:64px;
}
.-2xl {
	width:128px;
	height:128px;
}
.-3xl {
	width:256px;
	height:256px;
}
.icon.plane {
	background-position:-424px -176px;
}
.element-button button[disabled] .icon.plane,
.element-button button[disabled]:hover .icon.plane {
	background-position:-384px -216px;
}
.element-button button:hover .icon.plane {
	background-position:-424px -216px;
}
.icon.showMap {
	background-position:-344px -216px;
}
.formElement.hover .icon.showMap {
	background-position:-384px -176px;
}
.-cash .icon {
    background-position:-224px -176px;
}
.-info .icon {
    background-position:-264px -176px;
}
.-quotes .icon {
    background-position:-224px -216px;
}
.-comment .icon {
    background-position:-264px -216px;
}
.-phone .icon {
    background-position:-304px -176px;
}
.-mapPoint .icon {
    background-position:-344px -176px;
}
button .icon.-envelope {
    background-position:-624px -216px;
}
button:hover .icon.-envelope {
    background-position:-584px -216px;
}
.-envelope .icon {
	background-position:-304px -216px;
}
/* ================ */



/**
 * Sections Color Schemes
 */
section.-withBg,
section.-grey,
section.-green {
    color:#f8f8f9;
}
section.-withBg,
section.-grey {
    background-color:#625c5a;
}
section.-withBg {
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
}
section.-beige {
    background-color:#daccc0;
    color:#625c5a;
}
section.-green {
    background-color:#6fa491;
}

section.-beige .separator hr,
section.-grey .separator hr {
    background-color:#6fa491;
}
section.-withBg .separator hr,
section.-grey .separator hr {
	background-color:#e9bdac;
}
section.-green hr,
section.-green .separator hr {
    background-color:#daccc0;
}
/* ================ */


/**
 * Popup Windows styles
 */
/* general styles */
.popupWindow {
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	position:fixed;
	background-color:rgba(0, 0, 0, 0.5);
	z-index:200;
	display:none;
}
.popupWindow.open {
	display:block;
}
.popupWindow-wrapper {
	padding:2.2222em 1.6666em;
	position:relative;
}
.popupWindow-content {
	border-radius:5px;
	background-color:#f8f8f9;
	box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.25);
	position:relative;
}
.closeWindow .icon {
	background-position: -320px -256px;
}
.closeWindow:hover .icon,
.closeWindow:active .icon {
	background-position: -368px -256px;
}

/* "Show Map" window styles */
#popupWindow-map .windowNavPan {
	padding:0.7777em;
	position:absolute;
	top:0;
	right:0;
	z-index:250;
}
/* ================ */



/**
 * Individual styles
 */
/* Section "Rooms" */
#rooms {
	padding:0;
    background-color:#625C5A;
}
#rooms .section-wrapper {
	margin:0;
}
#rooms .roomsItems,
#rooms .roomsItem {
	height:100vh;
}
#rooms .roomsItems {
	width:100%;
	overflow:hidden;
	position:relative;
	z-index:10;
}
#rooms .roomsItem {
	width:50%;
	position:absolute;
	top:0;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
	z-index:11;
}
#rooms .roomsItem:hover,
#rooms .roomsItem.-active {
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.75);
	z-index:12;
}
#rooms .roomsItem.-newYork {
	left:0;
	background-image:url("../../media/rooms/new_york/medium/CK1A9261.jpg");
}
#rooms .roomsItem.-japan {
	right:0;
	background-image:url("../../media/rooms/japan/medium/CK1A9294.jpg");
}
#rooms .roomsItem a,
#rooms .roomsItem .room-number {	
	position:absolute;
}
#rooms .roomsItem a {	
	left:0;
	top:0;
	width:100%;
	height:inherit;
	background-color:rgba( 35, 31, 32, 0.4 );
}
#rooms .roomsItem:hover a,
#rooms .roomsItem.-active a,
#rooms .roomsItem a:hover {
	background:none;
}
#rooms .roomsItem .room-number {
	top:50%;
}
#rooms .roomsItem .number-wrapper {
	margin-top:-50%;
	border:3px solid #f7da7e;
	border-radius:1.1111em;
	padding-top:0.3333em;
	width:2.0555em;
	height:1.7222em;
	display:block;
	position:relative;
	color:#f7da7e;
	font-family: 'PT Serif', 'Times New Roman';
	font-size:2em;
	font-weight:bold;
	line-height:1.25em;
	text-align:center;
}

#rooms .roomsItem a:hover .number-wrapper {
	background-color:#f7da7e;
	color:#5d463a;
}
#rooms .roomsItem.-newYork .room-number {
	right:50%;
}
#rooms .roomsItem.-newYork .number-wrapper {
	right:-50%;
}
#rooms .roomsItem.-japan .room-number {
	left:50%;
}
#rooms .roomsItem.-japan .number-wrapper {
	left:-50%;
}

#rooms .sticker {
	position:absolute;
	top:50%;
	left:50%;
}
#rooms .sticker-wrapper {
	position:relative;
	margin-top:-50%;
	margin-left:-50%;
	padding:0.4444em;
	width:7.4444em;
	height:7.4444em;
	border-radius:4.1666em;
	background-color:#f7da7e;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
	z-index:20;
}
#rooms .sticker .progressBar {
    border-radius:3.7777em;
}
#rooms .sticker .logo {
    border-radius:3.5555em;
}
#rooms .progressBar .track {
	/*border:0.3333em solid rgba(93, 70, 58, 0.15); - default track*/
	border:0.3333em solid rgba(93, 70, 58, 1);
	border-radius:7.4444em;
	width:6.7777em;
	height:6.7777em;
}
#rooms .sticker .logo.-big {
	position:absolute;
	top:0.6111em;
	left:0.6111em;
	width:7.1111em;
	height:7.1111em;
	background-position:-17px -16px;
}

/* Section "About" */
#about .section-content {
	text-align:left;
}

/* Section "Send Review" & "Contacts" */
button.-pink {
	border-color:#e9bdac;
	color:#e9bdac;
}
button.-pink:hover {
	background:#e9bdac;
	color:#5d463a;
}
button.-green {
	border-color:#3b876f;
	color:#3b876f;
}
button.-green:hover {
	background:#3b876f;
	color:#f8f8f9;
}


/* Sections "Prices" */
#prices .priceLabel {
	max-width:440px;
	padding:0.8333em 1.1111em;
	margin:0.8333em auto 1.6666em;
}
#prices .priceLabel-wrapper {
	padding:8px;
	box-shadow:0 5px 20px rgba(0, 0, 0, 0.1);
	border-radius:5px;
	background-color:#f2eee9;
}
#prices .priceLabel-content {
	border:2px solid #daccc0;
	padding:0 1.6666em 1.1111em;
}
#prices .priceLabel-content h4 {
	margin-top:1.6666em;
	padding:0;
}
#prices .priceLabel-content .price {
	margin-top:1.6666em;
	margin-bottom:2.5em;
	color:#3b876f;
}
#prices .priceLabel-content .price span {
	display:block;
}
#prices .priceLabel-content .cost {
	font-size:4em;
	line-height:1.25em;
}
#prices .priceLabel-content .currency {
	font-size:1.6666em;
	line-height:1.5em;
}

/* Sections "Reviews" */
#reviews .reviewsItems {
	margin-top:0.8333em;
	margin-bottom:1.6666em;
}
#reviews .reviewItem {
	margin-top:2.5em;
	margin-bottom:2.5em;
	width:33.3333%;
	float:left;
	text-align:center;
}
#reviews .reviewItem .author .photo {
	margin-left:auto;
	margin-right:auto;
	width:150px;
	height:150px;
	border-radius:75px;
	box-shadow:0 0 20px rgba(0, 0, 0, 0.25) inset;
	background:rgba(84, 84, 84, 0.3);
	background-position:center center;
	background-size:cover;
	overflow:hidden;
}
#reviews .reviewItem .author .photo a {
	display:block;
	width:inherit;
	height:inherit;
	position:relative;
}
#reviews .reviewItem.-active {
	margin:0;
	width:100%;
}
#reviews .reviewItem.-active .author .photo {
	margin-bottom:1.6666em;
	width:240px;
	height:240px;
	border-radius:120px;
}
#reviews .reviewItem.-active .author .name {
	margin-top:0.5em;
	margin-bottom:1em;
}
#reviews .reviewItem .separator {
	margin-bottom:0;
}
#reviews .reviewItem .separator hr {
	background-color:#b1a8a6;
}

#reviews .radioItem a {
	background-position:-560px -80px;	
}
#reviews .radioItem.-active a,
#reviews .radioItem a:hover {
	background-position:-560px -112px;
}

#reviews .arrows .arrowLeft,
#reviews .arrows .arrowRight {
	top:87px;
	width:64px;
	height:64px;
	padding:1px 8px;
	position:absolute;
}
#reviews .arrows .arrowLeft {
	left:25%;
	left:calc( 0.5 * (50% - 200px) + 80px );
}
#reviews .arrows .arrowRight {
	right:25%;
	right:calc( 0.5 * (50% - 200px) + 80px );
}
#reviews .arrows .arrowLeft.-disable,
#reviews .arrows .arrowRight.-disable {
	opacity:0.25;
}
#reviews .arrows .arrowLeft a {
	left:-50%;
	background-position:-400px -16px;
}
#reviews .arrows .arrowLeft.-active a,
#reviews .arrows .arrowLeft a:hover {
	background-position:-400px -96px;
}
#reviews .arrows .arrowRight a {
	right:-50%;
	background-position:-480px -16px;
}
#reviews .arrows .arrowRight.-active a,
#reviews .arrows .arrowRight a:hover {
	background-position:-480px -96px;
}
#reviews .arrows .arrowLeft a,
#reviews .arrows .arrowRight a {
	display:block;
	width:inherit;
	height:inherit;
	position:relative;
}

/* Sections "reserveRoom" */
#reserveRoom .section-content .separator {
    margin-top: 0;
}
#reserveRoom .subsection-phone .tel,
#reserveRoom .subsection-phone .tel a {
	font-size:1.6666em;
	line-height:1.5em;
	color:#F8F8F9;
	font-style:normal;
	text-decoration:none;
}
#reserveRoom .subsection-reserve form {
	max-width:640px;
}
#reserveRoom .subsection-reserve form .form-wrapper {
	padding:1em;
	border-radius:5px;
	box-shadow:0 5px 20px rgba(0, 0, 0, 0.25);
	background-image:url(../img/bg1.png);
}
#reserveRoom .subsection-reserve form .form-content {
	border:1px solid #d9d5d3;
	padding:0.7777em 1.0555em;
}
#reserveRoom .subsection-reserve form .form-content,
#reserveRoom .subsection-reserve form input,
#reserveRoom .subsection-reserve form textarea {
	background-color:#f8f8f9;
}

#reserveRoom .subsection-reserve form input,
#reserveRoom .subsection-reserve form textarea {
	text-align:center;
	color:#625c5a;
}
#reserveRoom .subsection-reserve form button .icon.plane {
	margin-left:1.1111em;
	margin-right:-0.1111em;
}
#reserveRoom .subsection-reserve form#sendMail .button-wrapper {
	padding-top:0;
	padding-bottom:0;
}
#reserveRoom .subsection-reserve button {
	border-color:#3b876f;
}
#reserveRoom .subsection-reserve .element-button button[disabled],
#reserveRoom .subsection-reserve .element-button button[disabled]:hover {
	border-color:#e8e5e2;
	background:none;
	box-shadow:0 0 15px rgba(0, 0, 0, 0.05) inset;
}

/* Sections "Contacts" */
#contacts .section-content .separator {
    margin-top: 0;
}
#contacts .subsection-address button:hover .icon.showMap {
	background-position:-384px -176px;
}
#contacts .subsection-phone .tel,
#contacts .subsection-phone .tel a {
	font-size:1.6666em;
	line-height:1.5em;
	color:#F8F8F9;
	font-style:normal;
	text-decoration:none;
}

#contacts .subsection-sendMail form {
	max-width:640px;
}
#contacts .subsection-sendMail form .form-wrapper {
	padding:1em;
	border-radius:5px;
	box-shadow:0 5px 20px rgba(0, 0, 0, 0.25);
	background-image:url(../img/bg1.png);
}
#contacts .subsection-sendMail form .form-content {
	border:1px solid #d9d5d3;
	padding:0.7777em 1.0555em;
}
#contacts .subsection-sendMail form .form-content,
#contacts .subsection-sendMail form input,
#contacts .subsection-sendMail form textarea {
	background-color:#f8f8f9;
}

#contacts .subsection-sendMail form input,
#contacts .subsection-sendMail form textarea {
	text-align:center;
	color:#625c5a;
}
#contacts .subsection-sendMail form button .icon.plane {
	margin-left:1.1111em;
	margin-right:-0.1111em;
}
#contacts .subsection-sendMail form#sendMail .button-wrapper {
	padding-top:0;
	padding-bottom:0;
}
/*
#contacts .subsection-sendMail button {
	border-color:#3b876f;
}
#contacts .subsection-sendMail button:hover {
	background:#3b876f;
	color:#f8f8f9;
}
#contacts .subsection-sendMail .element-button button[disabled],
#contacts .subsection-sendMail .element-button button[disabled]:hover {
	border-color:#e8e5e2;
	background:none;
	box-shadow:0 0 15px rgba(0, 0, 0, 0.05) inset;
}*/

/* ================ */


/**
 * Main navigation pannel "topPannel"
 */

/* general styles */
#topPannel {
	width:100%;
	position:fixed;
	top:0;
	left:0;
	background-color:#f7da7e;
	box-shadow:0 0 30px rgba(0, 0, 0, 0.25);	
	z-index:100;
}
#topPannel .topPannel-wrapper {
	margin:0 auto;
	padding:0.9999em 0;
	height:24px;
	max-width:1280px;
	position:relative;
}
#topPannel .socialLinks,
#topPannel .logotype,
#topPannel .burgerButton {
	position:absolute;
	top:0;
}

#topPannel .socialLinks,
#topPannel .logotype-wrapper,
#topPannel .burgerButton {
	padding-left:1.1111em;
	padding-right:1.1111em;
}
#topPannel .socialLinks,
#topPannel .logotype,
#topPannel .burgerButton {
	z-index:20;
}
#topPannel ul,
#topPannel ul li,
#mainMenu .mainMenu-wrapper,
#mainMenu ul,
#mainMenu ul li {
	float:left;
}
#mainMenu .mainMenu-wrapper,
#mainMenu ul {
    position:relative;
}
#topPannel a,
#topPannel span,
#mainMenu a {
	display:block;
}
#topPannel a,
#mainMenu a {
	padding:0.4444em;
	color:#5d463a;
	text-decoration:none;
}
#topPannel ul li,
#topPannel .burgerButton-wrapper,
#topPannel .logotype,
#mainMenu ul li {
	padding-top:0.5555em;
	padding-bottom:0.5555em;
}

/* Social links */
#topPannel .socialLinks {
	right:0;
}
#topPannel .socialLinks .vk .icon {
	background-position:-424px -256px;
}

/* Logo small */
#topPannel .logotype {
	left:0;
}
#topPannel .logotype a {
	padding:0 8px;
}
#topPannel .logo.-small {
	width: 3.5555em;
	height: 2.2222em;
	background-position: -8.8888em -1.5em;
}

/* Animated "Show Menu" button's icon */
.burgerButton {
	left:0;
	display:none;
}
.burgerButton .icon,
.burgerButton .icon span:before,
.burgerButton .icon span:after {
	-webkit-transition:0.25s;
    -moz-transition:0.25s;
    -ms-transition:0.25s;
    -o-transition:0.25s;
	transition:0.25s;
}
.burgerButton .icon span,
.burgerButton .icon span:before,
.burgerButton .icon span:after {
    display:block;
    width:100%;
    height:4px;
    border-radius:2px;
    background-color:#5d463a;
}
.burgerButton .icon span:before,
.burgerButton .icon span:after {
    position:absolute;
    right:0;
    content: "";
}
.burgerButton .icon {
    background: none;
    padding:0.4444em;
}
.burgerButton .icon:hover {
    cursor: pointer;
}
.burgerButton .icon span {
    position:relative;
    top:10px;
}
.burgerButton .icon span:before {
    top:-8px;
}
.burgerButton .icon span:after {
    top:8px;
}
.burgerButton.menu-enabled .icon span:before,
.burgerButton.menu-enabled .icon span:after {
    width:70%;
}
.burgerButton.menu-enabled .icon span:before {
	-webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    -o-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: translate(2px, 10px) rotate(45deg); /** Chrome & Safari **/
    -moz-transform: translate(2px, 10px) rotate(45deg); /** Firefox **/
    -ms-transform: translate(2px, 10px) rotate(45deg); /* Для IE */
    -o-transform: translate(2px, 10px) rotate(45deg); /** Opera **/
    transform: translate(2px, 10px) rotate(45deg);
}
.burgerButton.menu-enabled .icon span:after {
    -webkit-transform-origin: right bottom;
    -moz-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    -o-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: translate(2px, -10px) rotate(-45deg); /** Chrome & Safari **/
    -moz-transform: translate(2px, -10px) rotate(-45deg); /** Firefox **/
    -ms-transform: translate(2px, -10px) rotate(-45deg); /* Для IE */
    -o-transform: translate(2px, -10px) rotate(-45deg); /** Opera **/
    transform: translate(2px, -10px) rotate(-45deg);
}
.burgerButton.menu-enabled .icon {
    -webkit-transform: rotate(180deg); /** Chrome & Safari **/
    -moz-transform: rotate(180deg); /** Firefox **/    
    -ms-transform: rotate(180deg); /* Для IE */
    -o-transform: rotate(180deg); /** Opera **/
    transform: rotate(180deg);
}

/* Main menu */
#mainMenu {
	top:0;
    width:100%;
	position:fixed;
	z-index:101;
}
#mainMenu .mainMenu-wrapper {
    left:50%;
}
.mainMenu-wrapper ul {
    left:-50%;
}
#mainMenu .menuItem {
	padding-top:0;
	padding-bottom:0;
	border-left:1px solid rgba(255, 255, 255, 0.2);
	border-right:1px solid rgba(0, 0, 0, 0.1);
}
#mainMenu .menuItem:first-child {
	border-left:0;
	border-top:0;
}
#mainMenu .menuItem:last-child {
	border-right:0;
	border-bottom:0;
}
#mainMenu a {
	padding:15px 19px;
	text-transform:uppercase;
}
#mainMenu a:hover {
	text-decoration:underline;
}
/* ================ */



/**
 * Redefinition of styles depending on the device
 */

/* For Desktop users (If window width <= 1280 px) */
@media only screen and (max-width: 1296px) {
	#rooms .roomsItem.-newYork {
		background-image:url("../../media/rooms/new_york/low/CK1A9261.jpg");
	}
	#rooms .roomsItem.-japan {
		background-image:url("../../media/rooms/japan/low/CK1A9294.jpg");
	}
	#reviews .arrows .arrowLeft {
		left:15%;
		left:calc( 0.5 * (50% - 120px) );
	}
	#reviews .arrows .arrowRight {
		right:15%;
		right:calc( 0.5 * (50% - 120px) );
	}
}

/* For Desktop users (If window width >= 960 px) */
@media only screen and (min-width:976px) {
	.content-wrapper {
		width:960px;
	}
    #about {
		background-image:url(../../media/contacts/contacts_bg.jpg);
	}
}

/* For Tablet & Smartphone users (If window width < 960 px) */
@media only screen and (max-width: 976px) {
	.section-wrapper {
		width:auto;
	}
    #about {
		background-image:url(../../media/contacts/contacts_bg_tablet.jpg);
	}
	
	#topPannel .logotype {
		left:50%;
	}
	#topPannel .logotype-wrapper {
		margin-left:-50%;
	}
	#topPannel .burgerButton {
		display:block;
	}
	#mainMenu {
		top:60px;
		left:0;
		z-index:2;
	}
    #mainMenu,
    #mainMenu ul li.menuItem {
        width:240px;
    }
	#mainMenu .mainMenu-wrapper {
		margin-left:0;
	}
	#mainMenu ul,
	#mainMenu ul li.menuItem {
		float:none;
		text-align:center;
	}
	#mainMenu .menuItem {
		border-left:0;
		border-right:0;
		border-top:1px solid rgba(255, 255, 255, 0.2);
		border-bottom:1px solid rgba(0, 0, 0, 0.1);
	}
	#mainMenu a {
		color:#f7da7e;
	}
}

/* For Tablet users (If window width > 768 px and < 960 px) */
@media only screen and (min-width:768px) and (max-width: 960px) {
}

/* For Smartphone users (If window width < 768 px) */
@media only screen and (max-width:768px) {
	body {
		font-size:0.8888em;
	}
	h2 {
		font-size:2.25em;
		padding-left:0.6666em;
		padding-right:0.6666em;
	}
	h4 {
		padding-left:0.9em;
		padding-right:0.9em;
	}
	p, #prices .priceLabel-content,
	form {
		padding-left:1.5em;
		padding-right:1.5em;
	}
	.section-content ul {
		padding-left:1.5em;
	}
	.switchers ul {
		padding:0;
	}
    #about {
		background-image:url(../../media/contacts/contacts_bg_mobile.jpg);
	}
	#reviews .arrows {
		display:none;
	}
	#rooms .sticker .logo.-big {
		background-size:auto 17.3333em;
	}
	#topPannel .logo.-small {
		background-size: 39.1072em;
	}
}

/* For Smartphone (Landscape orientation) users (If window width > 640 px and < 768 px) */
@media only screen and (min-width:641px) and (max-width:768px) {
	.collumns.-two .col,
	.collumns.-three .col,
	.collumns.-four .col {
		width:50%;
	}
}

/* For Smartphone (Landscape orientation) users (If window width < 640 px) */
@media only screen and (max-width:640px) {
	.collumns.-two .col,
	.collumns.-three .col,
	.collumns.-four .col {
		width:100%;
	}
	#reviews .reviewItem.-active .author .photo {
		width:150px;
		height:150px;
		border-radius:75px;
	}
	#rooms .roomsItem .room-number {
		display:none;
	}
}

/* For Smartphone (Landscape orientation) users (If window width > 568 px and < 640 px) */
@media only screen and (min-width:569px) and (max-width:640px) {
	#prices .collumns.-two .col {
		width:50%;
	}
}

/* For Smartphone (Portrait orientation) users (If window width < 568 px) */
@media only screen and (max-width:568px) {
	
}
/* ================ */