.h_lev_3 {
	margin-top:1.25em;
	margin-bottom:1.25em;
	padding-left:1.1111em;
	padding-right:1.1111em;
	font-size:2em;
	line-height:1.25em;    
}
/* For Smartphone users (If window width < 768 px) */
@media only screen and (max-width:768px) {
    .h_lev_3 {
        font-size: 1.875em;
        padding-left:0.8em;
		padding-right:0.8em;
    }
}
