.h_lev_2 {
    margin-top: 1.25em;
    margin-bottom: 0.9375em;
    padding-left: 0.8333em;
    padding-right: 0.8333em;
    font-size: 2.6666em;
    line-height: 1.25em;
}
/* For Smartphone users (If window width < 768 px) */
@media only screen and (max-width:768px) {
    .h_lev_2 {
        font-size:2.25em;
		padding-left:0.6666em;
		padding-right:0.6666em;
    }
}
