.h_lev_2 {
    margin-top: 1.25em;
    margin-bottom: 0.9375em;
    padding-left: 0.8333em;
    padding-right: 0.8333em;
    font-size: 2.6666em;
    line-height: 1.25em;
}
.h_lev_3 {
	margin-top:1.25em;
	margin-bottom:1.25em;
	padding-left:1.1111em;
	padding-right:1.1111em;
	font-size:2em;
	line-height:1.25em;    
}
.h_lev_4 {
	margin-top:1.5em;
	margin-bottom:1em;
	padding-left:1.3333em;
	padding-right:1.3333em;
	font-size:1.6666em;
	line-height:1.5em;
}
/* For Smartphone users (If window width < 768 px) */
@media only screen and (max-width:768px) {
    .h_lev_2 {
        font-size:2.25em;
		padding-left:0.6666em;
		padding-right:0.6666em;
    }
    .h_lev_3 {
        font-size: 1.875em;
        padding-left:0.8em;
		padding-right:0.8em;
    }
    .h_lev_4 {
		padding-left:0.9em;
		padding-right:0.9em;
    }
}
