.section_color-theme_beige .icon_arrow-left {
    background-position: -400px -16px;
}
.section_color-theme_beige .icon_arrow-left::before {
    content: '';
}
.section_color-theme_beige .icon_arrow-left:hover {
    background-position:-400px -96px;
}
.section_color-theme_beige .icon_arrow-left:hover::before {
    content: '';
}
