.menu_main .menu__link {
    color: #5d463a;
    padding: 15px 19px;
    text-transform: uppercase;
    display: block;
}
/* For Tablet & Smartphone users (If window width < 960 px) */
@media only screen and (max-width: 976px) {
    .menu_main .menu__link {
        color:#f7da7e;
    }
}
