.radio-buttons__item {
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    width: 12px;
    height: 12px;
}
.radio-buttons_horiz .radio-buttons__item {
    margin: 0.3888em 0.6666em;
}
