p {
    margin: 0.8333em 0 1.6666em 0;
    padding-left: 2.2222em;
    padding-right: 2.2222em;
}
/* For Smartphone users (If window width < 768 px) */
@media only screen and (max-width:768px) {
    p {
        padding-left:1.5em;
		padding-right:1.5em;
    }
}
