.section_color-theme_beige .icon::before {
    color: #6FA491;
}
.section_color-theme_green .icon::before {
    color: #daccc0;
}
.section_color-theme_grey .icon::before {
    color: #e9bdac;
}
.sticker .icon::before {
    color: rgba(93, 70, 58, 1);
}