.section_color-theme_beige {
    background-color: #daccc0;
    color: #625c5a;
}
.section_color-theme_green {
    background-color: #6fa491;
    color: #f8f8f9;
}
.section_color-theme_grey {
    background-color: #625c5a;
    color: #f8f8f9;
}
.section_color-theme_cacao {
    background-color: #bea692;
    color: #625c5a;
}
