html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}
body {
    margin: 0;
}
body {
    overflow-x: hidden;
}
body {
	font-size: 100%;    
}
body {
	background-color:#545456;
}
body {
    line-height: 1.6666em;
	text-align: center;
}
a {
    font-style: normal;
    background-color: transparent;
}
.link {
    text-decoration:underline;
    color:inherit;
}
.link:hover {
	text-decoration:none;
}
.link_inverted {
    text-decoration:none;
    color:inherit;
}
.link_inverted:hover {
	text-decoration:underline;
}
.link_block {
	display:block;
	width:inherit;
	height:inherit;
	position:relative;
}
.link_block,
.link_block:hover {
	text-decoration:none;
}
p {
    margin: 0.8333em 0 1.6666em 0;
    padding-left: 2.2222em;
    padding-right: 2.2222em;
}
.p__link {
	font-style:italic;
	color:#3b876f;
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
}
.list {
    margin: 0.8333em 0 1.6666em;
    padding-left: 2.2222em;
}
.list__item {
}
.list__item {
    padding-left: 1.1111em;
    margin: 0.8333em 0;
    background-position: -570px -262px;
    background-image: url(../img/sprite_min.svg);
    background-repeat: no-repeat;
}
.footnote__mark {
	color: #8d2b2e;
}
button,
.button {
    color: inherit;
    font: inherit;
    margin: 0;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
.button[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
.button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
button,
.button {
    border: 0;
    border-style: solid;
    background: none;
    display: block;
}
button,
.button {
    border-width: 2px;
    border-radius: 4px;
    padding-left: 0;
    padding-right: 1em;
}
button::after,
.button::after {
    content: '';
    display: block;
    clear: both;
}
.button_rounded {
    border-radius:32px;
	margin-top:0.0555em;
	margin-bottom:0.0555em;
}
.button__title {
    margin-left:1em;
	float:left;
}
.button__title {
	margin-top:0.3888em;
	margin-bottom:0.3888em;
}
.button_rounded .button__title {
    margin-top:0.8333em;
	margin-bottom:0.8333em;
}
.button__icon {
    margin-left:1em;
	float:left;
}
.button__icon {
	margin-top:0.5555em;
	margin-bottom:0.5555em;    
}
.button_rounded .button__icon {
	margin-top:1em;
	margin-bottom:1em;
}
.button_color-theme_pink {
    border-color: #e9bdac;
    color: #e9bdac;
}
.button_color-theme_pink:hover {
	background:#e9bdac;
	color:#5d463a;
}
.button_color-theme_green {
	border-color:#3b876f;
	color:#3b876f;
}
.button_color-theme_green:hover {
	background:#3b876f;
	color:#f8f8f9;
}
.collumns::after {
    content: '';
    display: block;
    clear: both;
}
.collumns__col {
    float:left;
}
.collumns_number_2 .collumns__col {
    width:50%;
}
.collumns_number_3 .collumns__col {
    width:33.3333%;
}
.collumns_number_4 .collumns__col {
    width:25%;
}.collumns__col {
    margin-top:-0.8333em;
}
header {
    display: block;
}
.icon {
    background-repeat: no-repeat;
    display: block;
}
.icon_size_x16 {
	width:16px;
	height:16px;
}
.icon_size_x24 {
	width:24px;
	height:24px;
}
.icon_size_x32 {
	width:32px;
	height:32px;
}
.icon_size_x48 {
	width:48px;
	height:48px;
}
.icon_size_x64 {
	width:64px;
	height:64px;
}
.icon_size_x128 {
	width:128px;
	height:128px;
}
.icon_size_x256 {
	width:256px;
	height:256px;
}
.icon {
    background-image: url(../img/sprite_min.svg);
}
.icon_cash {
    background-position:-224px -176px;
}
.icon_comment {
    background-position:-264px -216px;
}
.icon_envelope {
    background-position:-304px -216px;
}
.icon_info {
    background-position:-264px -176px;
}
.icon_map {
    background-position:-344px -216px;
}
.icon_map-point {
    background-position:-344px -176px;
}
.icon_phone {
    background-position:-304px -176px;
}
.icon_plane {
    background-position:-424px -176px;
}
.icon_quotes {
    background-position:-224px -216px;
}
.section_reviews .icon_arrow-left {
    left:-50%
}
.section_color-theme_beige .icon_arrow-left {
    background-position: -400px -16px;
}
.section_color-theme_beige .icon_arrow-left::before {
    content: '';
}
.section_color-theme_beige .icon_arrow-left:hover {
    background-position:-400px -96px;
}
.section_color-theme_beige .icon_arrow-left:hover::before {
    content: '';
}
.section_reviews .icon_arrow-right {
    right:-50%;
}
.section_color-theme_beige .icon_arrow-right {
    background-position: -480px -16px;
}
.section_color-theme_beige .icon_arrow-right:hover {
    background-position:-480px -96px;
}
.switchers_radio-buttons {
    overflow: hidden;
}
.switchers_radio-buttons {
    margin: 0.8333em auto 1.6666em;
    height: 1.6666em;
}
.section_reviews .arrow {
    top: 87px;
    padding: 1px 8px;
    position: absolute;
}
.section_reviews .arrow_left {
    left: 25%;
    left: calc( 0.5 * (50% - 200px) + 80px );
}
.section_reviews .arrow_right {
    right: 25%;
    right: calc( 0.5 * (50% - 200px) + 80px );
}
.radio-buttons_horiz {
    float: left;
}
.radio-buttons__item {
    background: none;
}
.radio-buttons_horiz .radio-buttons__item {
    float: left;
}
.radio-buttons__item {
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    width: 12px;
    height: 12px;
}
.radio-buttons_horiz .radio-buttons__item {
    margin: 0.3888em 0.6666em;
}
.section_color-theme_beige .radio-buttons__item {
    border-color: #6FA491;
}
.section_color-theme_beige .radio-buttons__item:hover {
    background-color: #6FA491;
}
.radio-buttons__item_active {
    background-color: #6FA491;
}
.section_color-theme_beige .radio-buttons__item_active {
    background-color: #6FA491;
}
.separator {
    overflow: hidden;
}
.separator {
    margin: -0.8333em auto 0;
    height: 2.5em;
}
.separator__wrapper {
    position: relative;    
}
.separator__content {
    position: relative;    
}
.separator__line {
    height: 1px;
    border: 0;
    float: left;
}
.separator__line {
    margin: 1.1666em 0 1.2777em;
    width: 3.8888em;
}
.section_color-theme_beige .separator__line {
    background-color: #6fa491;
}
.section_color-theme_grey .separator__line {
    background-color: #e9bdac;
}
.section_color-theme_green .separator__line {
    background-color: #daccc0;
}
.section__separator .separator__line {
    height: 2px;
    width: 80%;
    margin: 0 auto;
    float: none;
}.separator__icon {
    margin: 10px 13px 11px 13px;
    float: left;
}
.header__separator {
    margin-bottom: 2.5em;
}
.page-wrapper {
	width:100%;
	overflow-x:hidden;
	position:relative;
}
.page-wrapper {
	box-shadow:0 0 30px rgba(0, 0, 0, 0.5);
	z-index:5;
}
.page-wrapper {
    margin-left:0px;
    -webkit-transition:margin-left 0.25s ease;
    -moz-transition:margin-left 025s ease;
    -ms-transition:margin-left 0.25s ease;
    -o-transition:margin-left 0.25s ease;
    transition:margin-left 0.25s ease;
}
section {
    display: block;
}
section {
    width:100%;
}
section {
	padding-top:1.6666em;
	padding-bottom:1.6666em;
}
.section_background_image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.section_color-theme_beige {
    background-color: #daccc0;
    color: #625c5a;
}
.section_color-theme_green {
    background-color: #6fa491;
    color: #f8f8f9;
}
.section_color-theme_grey {
    background-color: #625c5a;
    color: #f8f8f9;
}
.section_color-theme_cacao {
    background-color: #bea692;
    color: #625c5a;
}
.section__wrapper {
	margin-bottom:3.333em;
}
.section__content {
    position: relative;
}
.section__content {
    position: relative;
}
.section_about .section__content {
    text-align: left;
}
.section__separator {
    height: 2px;
    position: absolute;
    width: 100%;
    margin-top: -1.6666em;
}
.rooms {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 10;
    height: 100vh;
}
.rooms::after {
    content: '';
    display: block;
    clear: both;
}.rooms__item {
    width: 50%;
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 11;
    height: 100vh;
}
.rooms__item:hover,
.rooms__item_active {
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.75);
	z-index:12;
}
.rooms__item_new-york {
    left: 0;
    background-image: url("../../media/rooms/new_york/medium/CK1A9261.jpg");
}
.rooms__item_tokyo {
    right: 0;
    background-image: url("../../media/rooms/japan/medium/CK1A9294.jpg");
}
.rooms__item-link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: inherit;
    background-color: rgba( 35, 31, 32, 0.4 );
}
.rooms__item-link:hover {
	background:none;
}.rooms__item-number {
    top: 50%;
	background:none;
    position: absolute;
}
.rooms__item_new-york .rooms__item-number {
    right: 50%;
}
.rooms__item_tokyo .rooms__item-number {
    left: 50%;
}
.rooms__item_new-york .rooms__item-number::before,
.rooms__item_tokyo .rooms__item-number::before {
    margin-top: -50%;
    border: 3px solid #f7da7e;
    border-radius: 1.1111em;
    padding-top: 0.3333em;
    width: 2.0555em;
    height: 1.7222em;
    display: block;
    position: relative;
    color: #f7da7e;
    font-family: 'PT Serif', 'Times New Roman';
    font-size: 2em;
    font-weight: bold;
    line-height: 1.25em;
    text-align: center;
}
.rooms__item_new-york .rooms__item-number::before {
    right: -50%;
    content: '#1';
}
.rooms__item_tokyo .rooms__item-number::before {
    left: -50%;
    content: '#2';
}
.rooms__item-link:hover .rooms__item-number::before {
	background-color:#f7da7e;
	color:#5d463a;
}.sticker {
    position: absolute;
    top: 50%;
    left: 50%;
}
.sticker__wrapper {
    position: relative;
    margin-top: -50%;
    margin-left: -50%;
    padding: 0.4444em;
    width: 7.4444em;
    height: 7.4444em;
    border-radius: 4.1666em;
    background-color: #f7da7e;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    z-index: 20;
}
.sticker__wrapper::after {
    content: '';
    position: absolute;
    top: 0.6111em;
    left: 0.6111em;
    width: 7.1111em;
    height: 7.1111em;
    background-position: -17px -16px;
    border-radius: 3.5555em;
    background-image: url(../img/sprite_min.svg);
    background-repeat: no-repeat;
}.progress-bar {
    border-radius: 3.7777em;
}
.progress-bar__track {
    border: 0.3333em solid rgba(93, 70, 58, 0.15);
    border: 0.3333em solid rgba(93, 70, 58, 1);
    border-radius: 7.4444em;
    width: 6.7777em;
    height: 6.7777em;
}
.header__wrapper {
    margin-left: auto;
    margin-right: auto;
}
.content__wrapper {
    margin-left: auto;
    margin-right: auto;
}
.h {
    font-family: 'PT Serif', 'Times New Roman';
    font-weight: normal;
}
.h_lev_2 {
    margin-top: 1.25em;
    margin-bottom: 0.9375em;
    padding-left: 0.8333em;
    padding-right: 0.8333em;
    font-size: 2.6666em;
    line-height: 1.25em;
}
.h_lev_3 {
	margin-top:1.25em;
	margin-bottom:1.25em;
	padding-left:1.1111em;
	padding-right:1.1111em;
	font-size:2em;
	line-height:1.25em;    
}
.h_lev_4 {
	margin-top:1.5em;
	margin-bottom:1em;
	padding-left:1.3333em;
	padding-right:1.3333em;
	font-size:1.6666em;
	line-height:1.5em;
}
.price-card {
    max-width: 440px;
    padding: 0.8333em 1.1111em;
    margin: 0.8333em auto 1.6666em;
}
.price-card__wrapper {
    padding: 8px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #f2eee9;
}
.price-card__content {
    border: 2px solid #daccc0;
    padding: 0 1.6666em 1.1111em;
}
.price-card__h {
    margin-top: 1.6666em;
}
.price-card__options {
}
.price {
    margin-top: 1.6666em;
    margin-bottom: 2.5em;
    color: #3b876f;
}
.price__cost {
    display: block;
}
.price__cost {
    font-size: 4em;
    line-height: 1.25em;
}
.price__currency {
    display: block;
}
.price__currency {
    font-size: 1.6666em;
    line-height: 1.5em;
}
.controls__wrapper {
    position: relative;
}
.controls__content {
    position: relative;
}
.controls__content {
	padding-top:0.3333em;
	padding-bottom:0.3333em;
}
.reviews {
    margin-top: 0.8333em;
    margin-bottom: 1.6666em;
}
.reviews__wrapper::after {
    content: '';
    display: block;
    clear: both;
}
.reviews__wrapper {
}
.reviews__item {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    width: 33.3333%;
    float: left;
    text-align: center;
}
.reviews__item_active {
    margin: 0;
    width: 100%;
}
.user__photo {
	background-position:center center;
	background-size:cover;
	overflow:hidden;
}
.user__photo {
	margin-left:auto;
	margin-right:auto;
	box-shadow:0 0 20px rgba(0, 0, 0, 0.25) inset;
	background-color:rgba(84, 84, 84, 0.3);
}
.user__photo_size_x150 {
    width: 150px;
    height: 150px;
    border-radius:75px;
}
.user__photo_size_x240 {
    width: 240px;
    height: 240px;
    border-radius: 120px;
}
.user__photo_size_x240 {
    margin-bottom: 1.6666em;
}
.user__name {
    margin-top: 0.5em;
    margin-bottom: 1em;
}
.phone-number {
    font-size: 1.6666em;
    line-height: 1.5em;
}
.phone-number__link {
    color: #F8F8F9;
}
.phone-number__link:hover {
    text-decoration: none;
}.section_about {
    background-image: url(../../media/contacts/contacts_bg_tablet.jpg);
}
.map__content {
	height: 50vh;
}
.popup,
.popup .centered > .wrapper {
	height:100vh;
}
.popup > .wrapper,
.popup > .wrapper > .centered,
.popup .centered > .wrapper,
.popup .centered > .wrapper > .container {
    position:relative;
}

/* The Popup Back Layer */
.popup {
	top:0;
	left:0;
    width:100%;
	position:fixed;
	z-index:200;
    opacity:0;
    visibility:hidden; /* The popup is closed by default */
	-webkit-transition:visibility 0s, opacity 0.25s linear;
    -moz-transition:visibility 0s, opacity 0.25s linear;
    -ms-transition:visibility 0s, opacity 0.25s linear;
    -o-transition:visibility 0s, opacity 0.25s linear;
    transition:visibility 0s, opacity 0.25s linear;
}
.popup.opened { /* If popup is opened */
    opacity: 1;
    visibility:visible;
}
/* --- */

/* The Floating Popup Centering */
/* Horizontal */
.popup > .wrapper,
.popup > .wrapper > .centered {
    float:left;
}
.popup > .wrapper {
    left:50%;
}
.popup > .wrapper > .centered {
    left:-50%;
}
/* Vertical */
.popup .centered > .wrapper {
    display:table-cell;
    vertical-align:middle;
}
/* --- */

/* The Popup Container */
.popup .centered > .wrapper > .container {
    display:inline-block;
}
/* The Popup Controls Pannel */
.popup .controls {
    position:absolute;
    top:0;
    right:0;
}
.popup .controls > a {
    float:right;
}
.popup .controls .icon {
    display:block;
}
/* --- */.element_align_center::after {
    content: '';
    display: block;
    clear: both;
}
.element_no-padding {
    padding: 0;
}
.element_no-margin {
    margin: 0;
}
.element__wrapper {
    position: relative;
}
.element_align_center .element__wrapper {
    float: left;
    left: 50%;
}
.element__content {
    position: relative;
}
.element_align_center .element__content {
    float: left;
    left: -50%;
}
