html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}
body {
    margin: 0;
}
body {
    overflow-x: hidden;
}
body {
	font-size: 100%;    
}
body {
	background-color:#545456;
}
body {
    line-height: 1.6666em;
	text-align: center;
}
a {
    background-color: transparent;
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
header {
    display: block;
}
.icon {
    background-repeat: no-repeat;
    display: block;
}
.icon_size_x16 {
	width:16px;
	height:16px;
}
.icon_size_x24 {
	width:24px;
	height:24px;
}
.icon_size_x32 {
	width:32px;
	height:32px;
}
.icon_size_x48 {
	width:48px;
	height:48px;
}
.icon_size_x64 {
	width:64px;
	height:64px;
}
.icon_size_x128 {
	width:128px;
	height:128px;
}
.icon_size_x256 {
	width:256px;
	height:256px;
}
.icon {
    background-image: url(../img/sprite_min.svg);
}
.icon_cash {
    background-position:-224px -176px;
}
.icon_comment {
    background-position:-264px -216px;
}
.icon_envelope {
    background-position:-304px -216px;
}
.icon_info {
    background-position:-264px -176px;
}
.icon_map {
    background-position:-344px -216px;
}
.icon_map-point {
    background-position:-344px -176px;
}
.icon_phone {
    background-position:-304px -176px;
}
.icon_plane {
    background-position:-424px -176px;
}
.icon_quotes {
    background-position:-224px -216px;
}
.page-wrapper {
	width:100%;
	overflow-x:hidden;
	position:relative;
}
.page-wrapper {
	box-shadow:0 0 30px rgba(0, 0, 0, 0.5);
	z-index:5;
}
.page-wrapper {
    margin-left:0px;
    -webkit-transition:margin-left 0.25s ease;
    -moz-transition:margin-left 025s ease;
    -ms-transition:margin-left 0.25s ease;
    -o-transition:margin-left 0.25s ease;
    transition:margin-left 0.25s ease;
}
section {
    display: block;
}
section {
    width:100%;
}
section {
	padding-top:1.6666em;
	padding-bottom:1.6666em;
}
.section_no-padding {
    padding: 0;
}
.section_background_image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.section_color-theme_beige {
    background-color: #daccc0;
    color: #625c5a;
}
.section_color-theme_green {
    background-color: #6fa491;
    color: #f8f8f9;
}
.section_color-theme_grey {
    background-color: #625c5a;
    color: #f8f8f9;
}
.section_color-theme_cacao {
    background-color: #bea692;
    color: #625c5a;
}
.section__wrapper {
	margin-bottom:3.333em;
}
.section__content {
    position: relative;
}
.section__wrapper_no-margin {
    margin: 0;
}
.h {
    font-family: 'PT Serif', 'Times New Roman';
    font-weight: normal;
}
.h_lev_2 {
    margin-top: 1.25em;
    margin-bottom: 0.9375em;
    padding-left: 0.8333em;
    padding-right: 0.8333em;
    font-size: 2.6666em;
    line-height: 1.25em;
}
.separator {
    overflow: hidden;
}
.separator {
    margin: -0.8333em auto 0;
    height: 2.5em;
}
.separator_align_center::after {
    content: '';
    clear: both;
}
.separator__wrapper {
    position: relative;    
}
.separator_align_center .separator__wrapper {
    float: left;
    left: 50%;
}
.separator__content {
    position: relative;    
}
.separator_align_center .separator__content {
    float: left;
    left: -50%;
}
.separator__line {
    height: 1px;
    border: 0;
    float: left;
}
.separator__line {
    margin: 1.1666em 0 1.2777em;
    width: 3.8888em;
}
.section_color-theme_beige .separator__line {
    background-color: #6fa491;
}
.section_color-theme_grey .separator__line {
    background-color: #e9bdac;
}
.section_color-theme_green .separator__line {
    background-color: #daccc0;
}
.separator__icon {
    margin: 10px 13px 11px 13px;
    float: left;
}
.header__separator {
    margin-bottom: 2.5em;
}
.section-about {
    background-image: url(../../media/contacts/contacts_bg_tablet.jpg);
}
.map__content {
	height: 50vh;
}
.popup,
.popup .centered > .wrapper {
	height:100vh;
}
.popup > .wrapper,
.popup > .wrapper > .centered,
.popup .centered > .wrapper,
.popup .centered > .wrapper > .container {
    position:relative;
}

/* The Popup Back Layer */
.popup {
	top:0;
	left:0;
    width:100%;
	position:fixed;
	z-index:200;
    opacity:0;
    visibility:hidden; /* The popup is closed by default */
	-webkit-transition:visibility 0s, opacity 0.25s linear;
    -moz-transition:visibility 0s, opacity 0.25s linear;
    -ms-transition:visibility 0s, opacity 0.25s linear;
    -o-transition:visibility 0s, opacity 0.25s linear;
    transition:visibility 0s, opacity 0.25s linear;
}
.popup.opened { /* If popup is opened */
    opacity: 1;
    visibility:visible;
}
/* --- */

/* The Floating Popup Centering */
/* Horizontal */
.popup > .wrapper,
.popup > .wrapper > .centered {
    float:left;
}
.popup > .wrapper {
    left:50%;
}
.popup > .wrapper > .centered {
    left:-50%;
}
/* Vertical */
.popup .centered > .wrapper {
    display:table-cell;
    vertical-align:middle;
}
/* --- */

/* The Popup Container */
.popup .centered > .wrapper > .container {
    display:inline-block;
}
/* The Popup Controls Pannel */
.popup .controls {
    position:absolute;
    top:0;
    right:0;
}
.popup .controls > a {
    float:right;
}
.popup .controls .icon {
    display:block;
}
/* --- */